.services {
    padding: 15rem 7rem 0 7rem;
}
.services-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.services-header-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
.services-header-text h1 {
    font-size: 45px;
    color: black;
}
.services-header-text p {
    width: 70%;
    line-height: 1.5rem;
}
.services-header-image {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 4rem;
}
.services-header-image img {
    width: 100%;
    height: 600px;
}
.services-achievement {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 8rem;
    font-size: 16px;
    font-weight: 600;
    gap: 2rem;
}
.services-achievement hr {
    position: absolute;
    top: 72.5rem;
    left: 16rem;
    width: 500px;
    height: 3px;
    background-color: black;
}
.services-achievement-interior {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    gap: 8rem;
}
.services-achievement-interior img {
    width: 56%;
}

.services-achievement-consultant img,
.services-achievement-construction img {
    width: 120%;
    height: 400px;
}
.services-achievement-consultant,
.services-achievement-construction {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8rem;
}
.services-achievement-interior-text,
.services-achievement-consultant-text,
.services-achievement-construction-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.services-achievement-interior-text h1,
.services-achievement-consultant-text h1,
.services-achievement-construction-text h1 {
    font-size: 25px;
    color: var(--black);
}
.services-achievement-interior-text p,
.services-achievement-consultant-text p,
.services-achievement-construction-text p {
    font-size: 14px;
    color: var(--gray);
}
.services-footer {
    margin-top: 10rem;
}
@media screen and (max-width: 1024px) {
    .services-achievement-interior {
        gap: 4rem;
    }
    .services-achievement-consultant,
    .services-achievement-construction {
        gap: 4rem;
    }
}
@media screen and (max-width: 768px) {
    .services-achievement {
        justify-content: center;
        align-items: center;
        gap: 5rem;
    }
    .services-achievement hr { 
        display: none;
    }
    .services-achievement-interior,
    .services-achievement-consultant,
    .services-achievement-construction {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1rem;
    }
    .services-achievement-interior-text,
    .services-achievement-consultant-text,
    .services-achievement-construction-text {
        gap: 1rem;
    }
    .services-achievement-interior img ,
    .services-achievement-consultant img,
    .services-achievement-construction img {
        width: 100%;
    }
}
@media screen and (max-width: 425px) {
    .services {
        padding: 15rem 2rem 0 2rem;
    }
}