@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-family: 'Montserrat', sans-serif;

  --dark-blue: #2C3878;
  --medium-blue: #2C3878;
  --black: #333333;
  --gray: #9C9C9C;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}